<!-- <h2>{{title}}</h2> -->

<carousel id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <slide class="carousel-inner">
    <img src="../../assets/images/common/slide1.jpg" style="width: 100%;" alt="..." >
    <div class="carousel-caption">
      <!-- <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
    </div>
  </slide>
  <slide>
    <img src="../../assets/images/common/slide2.jpg"  style="width: 100%;" alt="...">
    <div class="carousel-caption">
      <!-- <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
    </div>
  </slide>
  <slide>
    <img src="../../assets/images/common/slide3.jpg" style="width: 100%;" alt="...">
    <div class="carousel-caption">
      <!-- <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
    </div>
  </slide>
</carousel>