
<div id="product-list" class="col-md-12 visible-lg visible-md hidden-xs hidden-sm page-section-nv nv-page-section-bg">
	<div class="container">
		<div class="container-nv">
			<!-- {{products }} -->
			<app-product-filter> </app-product-filter>
			<!--desktop-->
			<div class="flt_dtop">
				<!--  total slices: {{totslices}} -->
				<!--product-list-->
				<div class="mixed-grid pad">
					<div class="masonry-grid grid-col-4">
					<!-- | paginate: { itemsPerPage: 4, currentPage: p }
					| paginate: { itemsPerPage: 12, currentPage: currPageNumber, totalItems: pageCount } -->
					<div class="col-md-3 grid-item all" *ngFor="let product of products | paginate: { id: 'server', itemsPerPage: pageSlice, currentPage: currPageNumber, totalItems: totelProduct }">
						<a  [routerLink]="['/details', product.id]">
							<img src="{{config?.imagesproductpath}}/{{product.productImage}}" alt="" class="img-responsive img-effect" />
							<h4 class="prodcaption">{{product.productName}}</h4>
							<div class="img-overlay overlay-nv">
							</div>
							<div class="figcaption">
								<div class="caption-block">
									<h4 class="caption-h-nv">{{product.productName}}</h4>
									<p>{{(product.productDescription).substring(0,50)}}...</p>
								</div>
								<a href="{{config?.imagesproductpath}}/{{product.productImage}}" data-rel="prettyPhoto[portfolio]">
									<i class="fa fa-search caption-nv"></i> </a>
									<a routerLink="productdetails({productID: '{{product.id}}'})">
										<i class="fa fa-link caption-nv"></i> </a></div>
									</a>
								</div>
								<div id="fltToggle_dtop" class="slide_in_dtop left-filter_dtop">
									<!-- <ng-include src="'app/home/filter_criteria_selection.html'" ng-controller="Product_Filter_Criteria"></ng-include> -->
								</div>
								<!--product-list---->
							</div>
						</div>
						<!--  </section>  -->
					</div>
					<!-- end of desktop code  -->
					<!-- <div>{{pager.currentPage}}</div> -->
					<div class="clearfix"></div>
					<div class="col-md-12 pagination-rework" align="center">
						<nav class="pagination-current">
							<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
								<li *ngIf="pager.currentPage>1"><a aria-label="Next"
									[routerLink]="['/list', filterValue,crossFilter,mainFilter,queryCond,1]" (click)="getPage(1)">
									<span class="glyphicon glyphicon-fast-backward"
									aria-hidden="true"></span> </a></li>
									<li *ngIf="pager.currentPage>1">
										<a [routerLink]="['/list', filterValue,crossFilter,mainFilter,queryCond,pager.currentPage - 1]"
										(click)="getPage(pager.currentPage - 1)">
										<span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a></li>
										<li *ngFor="let page of pager.pages"
										[ngClass]="(currPageNumber==page)?'active':''">
										<a [routerLink]="['/list', filterValue,crossFilter,mainFilter,queryCond,page]" (click)="getPage(page)">{{page}} <span class="sr-only"></span></a></li>
										<li *ngIf="pager.currentPage!=pager.totalPages">
											<a [routerLink]="['/list', filterValue,crossFilter,mainFilter,queryCond,(pager.currentPage+1)]"
										aria-label="Next" (click)="getPage(pager.currentPage+1)">
										<span class="glyphicon 	glyphicon-forward" aria-hidden="true"></span> </a></li>
										<li *ngIf="pager.currentPage!=pager.totalPages">
											<a [routerLink]="['/list', filterValue,crossFilter,mainFilter,queryCond,pager.totalPages]" aria-label="Next"
											(click)="getPage(pager.totalPages)">
											<span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span> </a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
<!-- (click)="getPage(page)" -->
